<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main :: layout(~{::content}, 'Table Form')">

<div th:fragment="content">

    <div class="card" style="margin-top: 70px">
        <div class="card-header">
            <h4 th:text="${table.id} == null ? 'Add Table' : 'Edit Table'"></h4>
        </div>
        <div class="card-body">

            <form th:action="@{/tables/save}" th:object="${table}" method="post" enctype="multipart/form-data">

                <input type="hidden" th:field="*{id}"/>
<!--                <input type="hidden" th:field="*{tableNum}">-->
                <div class="mb-3">
                    <label class="form-label">Table number</label>
                    <input class="form-control" type="text" th:field="*{tableNum}" required>
                </div>


                <div class="mb-3">
                    <label class="form-label">Capacity</label>
                    <input class="form-control" type="number"
                           th:field="*{capacity}" required>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="checkbox"
                           th:field="*{available}">
                    <label class="form-check-label">
                        Available
                    </label>
                </div>

                <button class="btn btn-success" type="submit">
                    Save
                </button>
                <a class="btn btn-secondary" th:href="@{/tables}">
                    Cancel
                </a>

            </form>

        </div>
    </div>

</div>
</html>
