<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main :: layout(~{::content}, 'Food List')">

<div th:fragment="content" style="margin-top: 70px">

    <div class="d-flex justify-content-between mb-3">
        <h2>Food List</h2>
        <div>
            <a class="btn btn-primary" th:href="@{/foods/create}">
                + Add Food
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Available</th>
            <th width="180">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="food : ${foods}">
            <td th:text="${food.id}"></td>
            <td th:text="${food.name}"></td>
            <td>
                <img th:if="${food.image_url != null}"
                     th:src="@{'/images/' + ${food.image_url}}"
                     style="width:70px; height:70px; object-fit:cover;">
            </td>

            <td th:text="${food.price}"></td>

            <td>
                <span class="badge"
                      th:classappend="${food.available} ? 'bg-success' : 'bg-secondary'"
                      th:text="${food.available} ? 'Available' : 'Unavailable'">
                </span>
            </td>
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/foods/edit/{id}(id=${food.id})}">
                    Edit
                </a>

                <a class="btn btn-sm btn-secondary"
                   th:href="@{/foods/toggle/{id}(id=${food.id})}">
                    Toggle
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</html>
